# RISC OS content.
# The RISC OS 5 (RISC OS Open) ROM is Apache-2.0 licensed and redistributable,
# so it is kept. Any OTHER ROM dropped in roms/ is ignored by default - do not
# commit proprietary ROMs (RISC OS 4 / Select / Six etc.).
roms/*
!roms/RISCPC.ROM
!roms/roms.txt
!roms/RISC-OS-5-LICENCE.txt
# hostfs/ holds a full RISC OS environment (copyrighted OS + applications).
hostfs/

# Disc images / machine state (user data, may be copyrighted)
*.adf
*.hfe
*.hdf
cmos.ram
cmos.ram.bak

# Build artifacts
rpcemu-interpreter
rpcemu-recompiler
rpcemu-interpreter-debug
rpcemu-recompiler-debug
*.o
*.obj
*.so
*.a
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
.qmake.stash
src/qt5/Makefile
src/qt5/Makefile.Debug
src/qt5/Makefile.Release
src/qt5/release/
src/qt5/debug/

# Logs / temp
rpclog.txt
rpc.cfg
